@import "tailwindcss";

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:2rem;
  > input,
  label {
    flex:1
  }
  label {
    display: flex;
    gap:1rem;

    .date {
      margin-left: auto;
      font-size: 1.4rem;
      
    }

  }
  .btns {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}

.todo-lists {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  li{
    padding:2rem 1rem;
    border-bottom: 1px solid #ddd;
  }

  .completed {
     label {
      color:#aaa;
      .text {
        text-decoration: line-through;
      }
     }
  }
}

.todo-app{
  width: 50rem;
  margin:0 auto;
}

.input {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  height: 4.4rem;
  padding: 0.5rem;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  gap:2rem;
  .input {
    flex: 1
  }
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background:#000;
  border-radius: 0.5rem;
  color:#fff;
  padding:1rem;
  line-height: 1;
}