.todo-page {
  width:600px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
}

.todo-lists {
  .completed {
    label {
      text-decoration: line-through;
    }
      
  }
}
.todo-item {
  display: flex;
  justify-content: space-between;

  label {
    flex: 1
  }
  .btns {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}